<!DOCTYPE html>
<html>
  <head>
    <title>WebpackerSvelteExample</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'hello_svelte' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
